@keyframes animateUp {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes animateDown {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


.animateUp {
    animation: animateUp 800ms 1
}

.animateDown {
    animation: animateDown 800ms 1
}