<!-- Main-container -->
<div class="container flex justify-center items-center mt-6 font-semibold text-xl leading-10 text-textcolor italic  ">
    <!-- CurrentWeather -->
    <div class=" w-8s/12 h-max grid grid-cols-2 font-headFont text brightness-120  shadow-md shadow-blue3 rounded-lg 
        bg-gradient-to-b from-blue1 to-blue2">
        <!-- City-Weather -->
        <div class=" grid grid-rows-3 ">
            <!-- name and temperature -->
            <div class="flex justify-start items-center  pl-4 pt-2" [class.animateDown]="isAnimationActive">
                <div class="grid grid-rows-2">
                    <h1 class="text-2xl -tracking-tight">{{cityWeatherName}}<span
                            class="pl-2  text-yellow1">{{cityWeatherTemp}} °C</span></h1>
                    <span class="text-base">{{cityWeatherContry}}</span>
                </div>
            </div>
            <!-- current weather condition -->
            <div class="flex justify-start items-center pl-4" [class.animateDown]="isAnimationActive">
                <h1>{{cityWeatherMain}}</h1>
                <img src={{icon}}>
            </div>
            <!-- other important informations -->
            <div class="grid grid-flow-col pl-4  " [class.animateUp]="isAnimationActive">
                <h1 class="pr-2">Clauds: {{cityWeatherClouds}} %</h1>
                <h1 class="pr-2">Windy: {{cityWeatherWindySpeed}} km/h</h1>
                <h1 class="">Humidty: {{cityWeatherHumidity}}%</h1>
            </div>
        </div>
        <!-- Input-field -->
        <div class="grid grid-rows-2 relative p-2 text-2xl ">
            <!-- Input -->
            <input class="h-8 w-52 right-6 top-4 text-blue1 text-base hover:scale-105 bg-gradient-to-b from-blue3 to-blue2 focus:outline-none focus:ring-blue1
                rounded-lg absolute placeholder:text-base placeholder:pl-2 placeholder:text-textcolor ring-blue3 pl-2"
                type="text" maxlength="28" name="city" #city autocomplete="off" required
                (keyup.enter)="getCityWeather(city.value); city.value=''   " placeholder="Get Weather for a City">
            <!-- time -->
            <div class="absolute bottom-12 right-2 text-base " [class.animateUp]="isAnimationActive">
                <span class="right-0 bottom-0">{{cityWeatherDate}}</span>
            </div>
        </div>
    </div>
</div>