.slide {
    white-space: nowrap;

    animation: marquee 24s linear infinite;

}



@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}